/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* NAVBAR */

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo img{
height:60px;
width:auto;
transition:0.3s;
}


.logo img:hover{
transform:scale(1.05);
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
transition:0.3s;
}
.nav-links a:hover{
color:#22c55e;
}

#proteina,
#imc,
#transformacion,
#videos{
scroll-margin-top:100px;
}
html{
scroll-behavior:smooth;
}

/* NAVBAR GLASS */

.navbar{
position:fixed;
top:0;
width:100%;
padding:16px 40px;
z-index:1000;

background:rgba(2,6,23,0.6);
backdrop-filter: blur(10px);
transition:0.3s;
}

.navbar.scrolled{
background:#020617;
box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
margin:auto;
}


/* BODY */

body{
font-family:'Poppins',sans-serif;
background:#0f172a;
color:#f1f5f9;
line-height:1.6;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;

background:
linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("imagenes/fondo-fitness.jpg");

background-size:cover;
background-position:center;
}

.hero{
margin-top:90px;
}
.hero-sub{
margin-top:10px;
font-size:1rem;
color:#94a3b8;
}
.btn-outline{
padding:12px 26px;
border:2px solid #22c55e;
border-radius:30px;
color:white;
text-decoration:none;
margin:10px;
transition:0.3s;
}
.btn-outline:hover{
background:#22c55e;
}


/* BOTONES */

.hero button{

padding:14px 28px;
margin:10px;
border:none;
border-radius:30px;
background:#22c55e;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.hero button:hover{

transform:scale(1.05);
background:#16a34a;

}

/* SECTIONS */

section{

padding:80px 20px;
max-width:1000px;
margin:auto;

}

h2{

text-align:center;
margin-bottom:40px;
font-size:2rem;

}

/* CALCULADORAS */

.calculadora{

background:#1e293b;
padding:40px;
border-radius:15px;
margin-bottom:40px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

.calculadora input,
.calculadora select{

width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
font-size:15px;

}

.calculadora button{

background:#22c55e;
border:none;
padding:12px;
border-radius:8px;
width:100%;
font-size:16px;
cursor:pointer;
transition:.3s;

}

.calculadora button:hover{

background:#16a34a;

}

.resultado{

margin-top:20px;
font-size:1.2rem;
text-align:center;
color:#4ade80;

}

/* GALERIA */

.galeria{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.galeria img{

width:100%;
border-radius:12px;
transition:.3s;

}

.galeria img:hover{

transform:scale(1.05);

}

/* VIDEOS */

.videos{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;

}

iframe{

width:100%;
height:200px;
border-radius:10px;
border:none;

}

/* FOOTER */

footer{

text-align:center;
padding:40px;
background:#020617;
margin-top:40px;

}

.redes{

margin-top:10px;

}

.redes a{

margin:0 10px;
color:#22c55e;
text-decoration:none;
font-weight:600;

}

.redes a:hover{

text-decoration:underline;

}

/* RESPONSIVE */

.hero h1{

font-size:2.2rem;

}

.hero p{

font-size:1rem;

}

/* YOUTUBE FLOAT */

.youtube-float{
position:fixed;
bottom:25px;
right:25px;
background:#ef4444;
color:white;
padding:15px 20px;
border-radius:30px;
font-weight:bold;
text-decoration:none;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
transition:0.3s;
}
.youtube-float:hover{
transform:scale(1.08);
}

  

}
